.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #cb06fc;
}

table {
  color: rgb(300, 6, 155);
  border-radius: 20px;
  overflow: hidden;
  margin: 15px 0;
  min-width: 400px;
  background: #faf605;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}